<div class='change'>
  <% if note %>

    <h2>Edit your note below...</h2>
    <form id="edit" method="post" action="/<%= note.id %>">
      <input type="hidden" name="_method" value="put"/>
      <input type="text" name="title" value="<%= note.title %>"/><br>
      <textarea name="content"><%= note.content %></textarea><br>
      <input type="submit"/>
    </form>

  <% else %>  
    <p>Note not found.</p>  

  <% end %>
</div>