<div id="partial_new">
  <h2>Create your new note below...</h2>

  <form id="new" method="post" action="/">
    <input type="text" name="title" placeholder="Note title..."/><br>
    <textarea name="content" placeholder="Note content..."></textarea><br>
    <input type="submit"/>
  </form>
</div>