<div class="container">
  <h1>Welcome to Notes!</h1>

  <% if @note %>

    <h2>Are you sure you want to delete this note...</h2>
    
    <p><em><%= @note.content %></em></p>  

      <form action="/<%= @note.id %>" method="post">  
        <input type="hidden" name="_method" value="delete">  
        <input type="submit" value="Yes, Delete It!">  
        <a href="/<%= @note.id %>">Cancel</a>  
      </form>  

    <% else %>  
      <p>Note not found.</p>  
    <% end %>  

</div>
