<div class="container">
  <h1>Welcome to Notes!</h1>

  <% if @notes %>
  <h2>Below are your notes...</h2>
    <ul>
      <% @notes.each do |note| %>
        <li><a href='/<%=note.id%>'><%= note.title %></a></li>
      <% end %>
    </ul>
  <% end %>

  <a href='/new'>Create a new note</a>




</div>
